.profile__edit-button {
    background-image: url('../../../images/edit-button.svg');
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: content-box;
    cursor: pointer;
    width: 24px;
    height: 24px;
    align-self: center;
    position: relative;
    top: 2px;
    margin-left: 18px;
    padding: 0;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: .1s linear;
}

@media screen and (max-width: 750px) {
    .profile__edit-button {
        margin: 0 18px 0;
    }
}

@media screen and (max-width: 685px) {
    .profile__edit-button {
        margin: 0 10px 0;
    }
}