.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px 17px;
    margin-bottom: 66px;
}

@media screen and (max-width: 950px) {
    .photo-grid {
        gap: 20px 14px;
        margin: 0 40px 66px;
    }
}

@media screen and (max-width: 850px) {
    .photo-grid {
        gap: 18px 12px;
    }
}

@media screen and (max-width: 750px) {
    .photo-grid {
        grid-template-columns: repeat(2, minmax(150px, max-content));
        margin: 0 20px 66px;
    }
}

@media screen and (max-width: 585px) {
    .photo-grid {
        gap: 16px 10px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        grid-template-columns: repeat(1, minmax(100px, max-content));
        margin: 0 0 48px;
    }
}