.profile__container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .profile__container {
        flex-direction: column;
        gap: 14px;
    }
}

@media screen and (max-width: 650px) {
    .profile__container {
        gap: 26px;
    }
}