.profile-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .profile-container {
        flex-direction: column;
        gap: 14px;
    }
}