.footer {
    margin-bottom: 60px;
}

@media screen and (max-width: 950px) {
    .footer {
        margin-left: 40px;
    }
}

@media screen and (max-width: 750px) {
    .footer {
        margin-left: 60px;
    }
}

@media screen and (max-width: 650px) {
    .footer {
        margin-bottom: 36px;
        margin-left: 20px;
    }
}