.profile-info__username {
    font-size: 42px;
    line-height: 114%;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

@media screen and (max-width: 755px) {
    .profile-info__username {
        font-size: 36px;
    }
}

@media screen and (max-width: 685px) {
    .profile-info__username {
        font-size: 36px;
    }
}

@media screen and (max-width: 650px) {
    .profile-info__username {
        font-size: 38px;
    }
}

@media screen and (max-width: 440px) {
    .profile-info__username {
        font-size: 32px;
    }
}