.profile-info__bio {
    max-width: 336px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

@media screen and (max-width: 685px) {
    .profile-info__bio {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    .profile-info__bio {
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width: 440px) {
    .profile-info__bio {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .profile-info__bio {
        font-size: 14px;
        line-height: 17px;
    }
}